// Font
$primary-font-color: #323c46;
$secondary-font-color: #949ea8;

// Background 
$primary-background-color: #f9f9fb;
$secondary-background-color: #fff;

$sticky-note-background-color: #ffc;
$shadow-color: rgba(33,33,33,.7);
$hover-shadow-color: rgba(0,0,0,.7);;