.icon--sticky {
  width: 56px;
  height: 56px;
  background-color: #323c46;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #565d5a;
  }
}