@import './styles/variables.scss';
@import './styles/text.scss';

@font-face {
  font-family: 'Hind-Regular';
  src: local('Hind-Regular'), url(./assets/fonts/Hind-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-Medium';
  src: local('Hind-Medium'), url(./assets/fonts/Hind-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Hind-Bold';
  src: local('Hind-Bold'), url(./assets/fonts/Hind-Bold.ttf) format('truetype');
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
}

body, #root {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-background-color;
  color: $primary-font-color;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
  @extend .text--normal;
}

button:focus {
  outline:0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
