@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.note {
  width: 300px;
  height: 200px;
  color: $primary-font-color;
  background-color: $sticky-note-background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $shadow-color 0px 2px 3px 0px;
  margin: 10px;


  button {
    display: none;
  }

  &:hover {
    box-shadow: $hover-shadow-color 0px 4px 6px 0px;

    button {
      display: inline-block;
    }
  }

  @include scale-animation;
}